{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}About Rango{% endblock %}

{% block body_block %}
    <h1>About Rango</h1>
    <p>Welcome to the About Page.</p>
    <p><strong>Visits:</strong> {{ visits }}</p>  <!-- Display visit count -->
{% endblock %}

{% block body_block %}
    <h1>Rango says...</h1>
    <p>Here is the about page.</p>

    <!-- Static Image -->
    <img src="{% static 'images/rango.jpg' %}" alt="Rango Image">

    <p>This tutorial has been put together by <strong>Your Name</strong>.</p>

    <!-- Media Image -->
    <img src="/media/cat.jpg" alt="Picture of a Cat">
{% endblock %}
